*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, sans-serif;
}

body{
    background:#021446;
}

header{
    background:#fff;
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:15px 8%;
}

.logo{
    font-size:24px;
    font-weight:bold;
    color:#009944;
}

nav ul{
    list-style:none;
    display:flex;
}

nav ul li{
    margin:0 15px;
}

nav ul li a{
    text-decoration:none;
    color:#000;
    font-weight:600;
}

.apply-btn{
    background:#fff;
    border:2px solid #00aa44;
    padding:10px 20px;
    border-radius:25px;
    cursor:pointer;
}

.hero{
    display:flex;
    justify-content:space-between;
    align-items:center;
    padding:80px 8%;
    color:white;
}

.hero-text{
    width:45%;
}

.hero-text h1{
    font-size:52px;
    color:#ffd700;
    margin-bottom:20px;
}

.hero-text p{
    font-size:20px;
    line-height:1.7;
}

.buttons{
    margin-top:30px;
}

.course-btn{
    background:#ffd700;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    font-size:18px;
    cursor:pointer;
}

.about-btn{
    background:#00aa44;
    color:white;
    border:none;
    padding:14px 25px;
    border-radius:8px;
    font-size:18px;
    margin-left:10px;
    cursor:pointer;
}

.rating{
    margin-top:40px;
}

.rating h2{
    font-size:50px;
    color:#ff66ff;
}

.hero-image img{
    width:600px;
    border-radius:15px;
}

.stats{
    display:grid;
    grid-template-columns:repeat(4,1fr);
    gap:20px;
    padding:40px 8%;
}

.card{
    background:white;
    padding:30px;
    border-radius:15px;
    text-align:center;
}

.card h2{
    color:#ff66ff;
    margin-bottom:10px;
}

@media(max-width:768px){

.hero{
    flex-direction:column;
}

.hero-text{
    width:100%;
    text-align:center;
}

.hero-image img{
    width:100%;
    margin-top:30px;
}

.stats{
    grid-template-columns:1fr;
}

}
nav ul li{
    position: relative;
}

.submenu{
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    background: white;
    list-style: none;
    width: 150px;
    padding: 0;
    margin: 0;
}

.submenu li{
    margin: 0;
}

.submenu li a{
    display: block;
    padding: 10px;
    text-decoration: none;
    color: black;
}

.dropdown:hover .submenu{
    display: block;
}
